

.appointment-container {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin:145px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.doctor-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.doctor-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #4caf50;
}

.doctor-details h2 {
    font-size: 20px;
    color: #555;
}

.doctor-details p {
    font-size: 16px;
    color: #666;
}

.appointment-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border-color: #4caf50;
    outline: none;
}

.book-appointment-btn {
    padding: 10px 15px;
    font-size: 16px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.book-appointment-btn:hover {
    background-color: #45a049;
}



